In [1]:
# Input Quarter Report:
##lteAudit1_Audit_4G
## And In SQLMS create Database
#create database lteAudit1_Audit_4G

In [2]:
# In Windows Shell
#setx PATH "%PATH%;C:\Users\c00298579\AppData\Local\Programs\Python\Python39\Scripts"

## In Windows Shell
# install python pip
# https://stackoverflow.com/questions/23708898/pip-is-not-recognized-as-an-internal-or-external-command
# En windows terminal, only one time, not each audit
##pip install pyodbc

# In Python
#How to Create a Table in SQL Server using Python
#https://datatofish.com/create-table-sql-server-python/

#How to Make Inserts Into SQL Server 100x faster with Pyodbc
#https://towardsdatascience.com/how-i-made-inserts-into-sql-server-100x-faster-with-pyodbc-5a0b5afdba5

#Connecting to MS SQL Server with Windows Authentication using Python?
#https://stackoverflow.com/questions/16515420/connecting-to-ms-sql-server-with-windows-authentication-using-python

#How to unzip multiple zip files in a folder using python?
# https://dev.to/abbazs/how-to-unzip-multiple-zip-files-in-a-folder-using-python-6dd
import zipfile
from pathlib import Path
# Iterate over all Zip files in the directory
###path = 'D:/SQL/2023Q4_11_v3/Rename_lteAudit1 - Copy/'
###p = Path('D:/SQL/2023Q4_11_v3/Rename_lteAudit1 - Copy/')
###for f in p.glob('*.zip'):
###    # Open the Zip file
###    with zipfile.ZipFile(f, 'r') as archive:
###        # Extract all contents of the Zip file to a directory with the same name as the file
###        archive.extractall(path=f'D:/SQL/2023Q4_11_v3/Rename_lteAudit1 - Copy/uncompressed')
###        # Print a message indicating that the extraction is complete
###        print(f"Extracted contents from '{f.name}' to '{f.stem}' directory.")
###

In [3]:
# lteAudit1:
# Rename files
# https://stackoverflow.com/questions/37467561/renaming-multiple-files-in-a-directory-using-python
import os
path = 'D:/SQL/Audit_4G/Rename_lteAudit1/'
files = os.listdir(path)
lteAudit="lteAudit1_"
lteAudit1FileNumber = 0

for index, file in enumerate(files):
    os.rename(os.path.join(path, file), os.path.join(path, ''.join([lteAudit, str(index), '.csv'])))
    lteAudit1FileNumber = index

# lteAudit1-3:
import fileinput

## In SQLMS
##create database lteAudit1_Audit_4G
##cursor.execute("Use [lteAudit1_Audit_4G]")

# lteAudit1:
import pyodbc
cnxn = pyodbc.connect(r'Driver=SQL Server;Server=LAPTOP-UNVM0A4T\SQLEXPRESS;Database=lteAudit1_Audit_4G;Trusted_Connection=yes;')
cursor = cnxn.cursor()

# lteAudit1-3:
cursor.execute('''
	Create Table enodebTable60MinReg
	(
	StartTime DATETIME,
	Period INT,
	NeName VARCHAR(45),
	eNodeBFunction VARCHAR(45),
	CellID VARCHAR(45),
	CellName VARCHAR(45),
	eNodeBID VARCHAR(45),
	CellFDDTDDInd VARCHAR(45),
	TrafficUserMax DECIMAL(20,5),
	TrafficUserAvg DECIMAL(20,5)
	)
	''')
cursor.execute('''
	Create Table enodebTable60MinReg_Total
	(
	StartTime DATETIME,
	Period INT,
	NeName VARCHAR(45),
	eNodeBFunction VARCHAR(45),
	CellID VARCHAR(45),
	CellName VARCHAR(45),
	eNodeBID VARCHAR(45),
	TrafficUserMax DECIMAL(20,5),
	TrafficUserAvg DECIMAL(20,5)
	)
	''')

#How to Run the SQL Server BULK INSERT Command from Within a Python Program
#https://www.sqlnethub.com/blog/how-to-run-the-sql-server-bulk-insert-command-from-within-a-python-program/
# lteAudit1-3:
bulkInsertCommand_Part1='''
	BULK 
	INSERT dbo.enodebTable60MinReg
	FROM 'D:/SQL/Audit_4G/'''
bulkInsertCommand_Part2='''.csv'
	WITH
	(
	FIRSTROW = 2,
	FIELDTERMINATOR = ',',
	ROWTERMINATOR = '0x0a'
	)
	'''	
#x is 0 to lteAudit1FileNumber for Audit_4G, if error load one by one and replace " DST," in Start time column by ","
# lteAudit1 Month1 of Q:
for x in range(0, lteAudit1FileNumber+1):
  fileNumber = 'lteAudit1_'+str(x)
  with fileinput.FileInput('D:/SQL/Audit_4G/'+'Rename_lteAudit1/'+fileNumber+'.csv', inplace=True, backup='.bak') as file:
    for line in file:
      print(line.replace(' DST,', ' ,'), end='')
for x in range(0, lteAudit1FileNumber+1):
  fileNumber = 'lteAudit1_'+str(x)
  with fileinput.FileInput('D:/SQL/Audit_4G/'+'Rename_lteAudit1/'+fileNumber+'.csv', inplace=True, backup='.bak') as file:
    for line in file:
      print(line.replace(',NIL', ',0'), end='')

# lteAudit1 Month1 of Q:
for x in range(0, lteAudit1FileNumber+1):
   fileNumber = 'lteAudit1_'+str(x)
   print('File Loaded: '+'lteAudit1_'+str(x))
   bulkInsertCommand=bulkInsertCommand_Part1+'Rename_lteAudit1/'+fileNumber+bulkInsertCommand_Part2
   cursor.execute(bulkInsertCommand)
   cnxn.commit()
   
   
#	/* Step 3: Create enodebTable60MinReg_AddingCells table per eNodeB */
# lteAudit1-3:

cursor.execute('''
	Create Table enodebTable60MinReg_AddingCells
	(
	StartTime DATETIME,
	NeName VARCHAR(45),
	TrafficUserMax DECIMAL(20,5),
	TrafficUserAvg DECIMAL(20,5)
	)
	''')
	
	

# /* Step 3.1: Insert addition of all cell value on the hour per eNodeB */

	
#Insert Table Values From One Database To Another Database
#https://www.c-sharpcorner.com/blogs/insert-from-one-table-to-another-both-tables-are-from-diffrent-database-in-sql-server1#:~:text=INSERT%20INTO%20SQL%20statement%20is,tables%20in%20the%20same%20database.

# lteAudit1:
cursor.execute('''
	INSERT INTO lteAudit1_Audit_4G.dbo.enodebTable60MinReg_AddingCells
	SELECT StartTime, NeName, sum(TrafficUserMax), sum(TrafficUserAvg) FROM lteAudit1_Audit_4G.dbo.enodebTable60MinReg
	GROUP BY StartTime, NeName ORDER BY StartTime ASC
		''')
		
#/* Step 4: Create table All_Network_PerHour to store the Avg and Max user values for all the network */

# lteAudit1-3:
cursor.execute('''
	Create Table All_Network_PerHour
	(
	StartTime DATETIME,
	TrafficUserMax DECIMAL(20,5),
	TrafficUserAvg DECIMAL(20,5)
	)
	''')

#/* Step 4.1: Insert addition of all cell value on the hour per eNodeB */
	
# lteAudit1:
cursor.execute('''
	INSERT INTO lteAudit1_Audit_4G.dbo.All_Network_PerHour
	SELECT StartTime, sum(TrafficUserMax), sum(TrafficUserAvg) FROM lteAudit1_Audit_4G.dbo.enodebTable60MinReg
	GROUP BY StartTime ORDER BY StartTime ASC
		''')

	
# /* Step 5: Create All_Network_PerHour_WitoutTime table */
# lteAudit1-3:
cursor.execute('''
	Create Table All_Network_PerHour_WitoutTime
	(
	StartTime DATETIME,
	TrafficUserMax DECIMAL(20,5),
	TrafficUserAvg DECIMAL(20,5)
	)
	''')

# lteAudit1-3:
# /* Step 4.1: Insert data into table by day */
cursor.execute('''
	INSERT INTO All_Network_PerHour_WitoutTime (StartTime, TrafficUserMax, TrafficUserAvg)
	(SELECT DATEADD(dd, 0, DATEDIFF(dd, 0, StartTime)), TrafficUserMax, TrafficUserAvg FROM All_Network_PerHour)
	''')

# /* Step 6: All_Network_UserMaxValuesEachDay table: To store peak of User Max for each day */
# lteAudit1-3:
cursor.execute('''
	Create Table All_Network_UserMaxValuesEachDay
	(
	StartTime DATETIME,
	TrafficUserMax DECIMAL(20,5),
	TrafficUserAvg DECIMAL(20,5)
	)
	''')
	
#/* Step 5.1: Insert peak hour highest UserMax values for each days */
# lteAudit1-3:
cursor.execute('''
	INSERT INTO All_Network_UserMaxValuesEachDay
	select cur.StartTime, cur.TrafficUserMax, cur.TrafficUserAvg
	from All_Network_PerHour_WitoutTime cur
	where not exists (
		select * 
		from All_Network_PerHour_WitoutTime high 
		where high.StartTime = cur.StartTime
		and high.TrafficUserAvg > cur.TrafficUserAvg
	) ORDER BY TrafficUserMax DESC
	''')
cnxn.commit()

# python pyodbc sql export to csv
# https://datatofish.com/export-sql-table-to-csv-python/

#In windows command shell: pip install pandas

# lteAudit1-3:
import pandas as pd

# lteAudit1:
sql_query = pd.read_sql_query('''
                              SELECT * FROM All_Network_UserMaxValuesEachDay ORDER BY TrafficUserAvg DESC
                              '''
                              ,cnxn) # here, the 'conn' is the variable that contains your database connection information from step 2
df = pd.DataFrame(sql_query)
df.to_csv (r'D:\SQL\Audit_4G\lteAudit1_Network_UserMaxValuesEachDay.csv', index = False) # place 'r' before the path name

File Loaded: lteAudit1_0
File Loaded: lteAudit1_1
File Loaded: lteAudit1_2
File Loaded: lteAudit1_3
File Loaded: lteAudit1_4
File Loaded: lteAudit1_5
File Loaded: lteAudit1_6
File Loaded: lteAudit1_7
File Loaded: lteAudit1_8
File Loaded: lteAudit1_9
File Loaded: lteAudit1_10
File Loaded: lteAudit1_11
File Loaded: lteAudit1_12
File Loaded: lteAudit1_13
File Loaded: lteAudit1_14
File Loaded: lteAudit1_15
File Loaded: lteAudit1_16
File Loaded: lteAudit1_17
File Loaded: lteAudit1_18
File Loaded: lteAudit1_19
File Loaded: lteAudit1_20
File Loaded: lteAudit1_21
File Loaded: lteAudit1_22
File Loaded: lteAudit1_23
File Loaded: lteAudit1_24
File Loaded: lteAudit1_25
File Loaded: lteAudit1_26
File Loaded: lteAudit1_27
File Loaded: lteAudit1_28
File Loaded: lteAudit1_29
File Loaded: lteAudit1_30
File Loaded: lteAudit1_31
File Loaded: lteAudit1_32
File Loaded: lteAudit1_33
File Loaded: lteAudit1_34
File Loaded: lteAudit1_35
File Loaded: lteAudit1_36
File Loaded: lteAudit1_37
File Loaded: lteAudit1_38
File Loaded: lteAudit1_39
File Loaded: lteAudit1_40
File Loaded: lteAudit1_41
File Loaded: lteAudit1_42
File Loaded: lteAudit1_43
File Loaded: lteAudit1_44
File Loaded: lteAudit1_45
File Loaded: lteAudit1_46
File Loaded: lteAudit1_47
File Loaded: lteAudit1_48
File Loaded: lteAudit1_49
File Loaded: lteAudit1_50
File Loaded: lteAudit1_51
File Loaded: lteAudit1_52
File Loaded: lteAudit1_53
File Loaded: lteAudit1_54
File Loaded: lteAudit1_55

C:\Users\c00298579\AppData\Local\Temp\ipykernel_25392\1065134027.py:197: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sql_query = pd.read_sql_query('''

In [4]:
# /* Step 7: Obtain the day and hour of the third maximum value in the All_Network_UserMaxValuesEachDay table (Desired value of the report)*/

sql_query2 = pd.read_sql_query('''
                              SELECT * FROM All_Network_PerHour WHERE TrafficUserAvg = '2047131.77'
                              '''
                              ,cnxn) # here, the 'conn' is the variable that contains your database connection information from step 2

df2 = pd.DataFrame(sql_query2)
df2.to_csv (r'D:\SQL\Audit_4G\DayAndHour_3rdMax_inAll_Network.csv', index = False) # place 'r' before the path name

C:\Users\c00298579\AppData\Local\Temp\ipykernel_25392\1401534360.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sql_query2 = pd.read_sql_query('''

In [5]:
# /* Step 8: Obtain the data for the traffic of all the eNodeBs for the selected day and hour*/


sql_query3 = pd.read_sql_query('''
                              SELECT * FROM enodebTable60MinReg_AddingCells WHERE StartTime = '1/30/2024 12:00' ORDER BY NeName ASC
                              '''
                              ,cnxn) # here, the 'conn' is the variable that contains your database connection information from step 2

df3 = pd.DataFrame(sql_query3)
df3.to_csv (r'D:\SQL\Audit_4G\dataOfTraffic_allEnodeBs_AtPeak.csv', index = False) # place 'r' before the path name

C:\Users\c00298579\AppData\Local\Temp\ipykernel_25392\770307282.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sql_query3 = pd.read_sql_query('''